# Web Framework
Flask
flask-cors

# Environment & API Handling
python-dotenv
requests

# AI + Embeddings
openai

# Data Science + ML
numpy
pandas
scikit-learn
scikit-surprise

# Misc Tools
tqdm       # progress bars
PyMuPDF    # PDF parsing (you can also use pdfplumber instead) pyton
