# Web Framework
Flask
flask-cors
gunicorn

# Environment & API Handling
python-dotenv
requests

# AI + Embeddings
openai
groq

# PDF Generation
reportlab

# Data Science + ML
numpy
pandas
scikit-learn
sentence-transformers

# PDF Parsing
PyMuPDF
